#column-1{display:flex;flex-flow:column nowrap;align-items:center;margin:auto;}
#column-26{display:flex;flex-flow:column nowrap;align-items:center;}
#text-21{}
#link-13{padding:15px;height:100%;color:rgba(170,170,170,1);}
#row-3{display:flex;flex-flow:row nowrap;align-items:center;}
#image-14{}
#link-7{padding:15px;height:100%;color:rgba(170,170,170,1);}
#link-11{padding:15px;height:100%;color:rgba(170,170,170,1);}
#text-8{}
#row-20{display:flex;flex-flow:row nowrap;align-items:center;}
#h1-0{font-weight:300;color:rgba(82,170,94,1);font-size:36px;}
#row-16{display:flex;flex-flow:row nowrap;align-items:center;}
#row-22{display:flex;flex-flow:row nowrap;align-items:center;}
#link-9{padding:15px;height:100%;color:rgba(170,170,170,1);}
#text-4{}
#text-23{background-color:rgba(0,0,200,1);}
#row-18{display:flex;flex-flow:row nowrap;align-items:center;}
#link-5{padding:15px;height:100%;color:rgba(170,170,170,1);}
#text-25{color:rgba(250,0,0,1);}
#row-2{display:flex;flex-flow:row nowrap;align-items:center;justify-content:space-between;height:50px;width:100%;padding:20px;font-size:13px;}
#text-19{background-color:rgba(200,0,0,1);}
#row-24{display:flex;flex-flow:row nowrap;align-items:center;}
#text-17{color:rgba(255,255,0,1);}
#text-6{}
#column-15{display:flex;flex-flow:column nowrap;align-items:center;width:900px;margin:auto;background-color:rgba(23,23,23,1);color:rgba(170,170,170,1);border-radius:10px;padding:30px;}
#text-10{}
#text-12{}