#row-21{display:flex;flex-flow:row nowrap;align-items:center;}
#link-3:hover{}
#text-7{}
#text-13:hover{}
#row-2:hover{}
#text-11{}
#text-7:hover{}
#row-17:hover{}
#link-8{padding:15px;height:100%;color:rgba(170,170,170,1);text-decoration:none;}
#link-8:hover{color:rgba(233,233,233,1);}
#text-11:hover{}
#text-22:hover{}
#row-25{display:flex;flex-flow:row nowrap;align-items:center;}
#column-1:hover{}
#h1-0:hover{color:rgba(160,208,167,1);}
#link-12:hover{color:rgba(233,233,233,1);}
#text-9{}
#link-6{padding:15px;height:100%;color:rgba(170,170,170,1);text-decoration:none;}
#link-14{padding:15px;height:100%;color:rgba(170,170,170,1);text-decoration:none;}
#text-13{}
#image-15{width:100%;}
#row-19{display:flex;flex-flow:row nowrap;align-items:center;}
#text-20{background-color:rgba(200,0,0,1);}
#row-2{display:flex;flex-flow:row nowrap;align-items:center;justify-content:space-between;height:50px;width:95%;padding-top:30px;padding-bottom:20px;padding-right:40px;padding-left:40px;font-size:13px;}
#h1-0{font-weight:300;color:rgba(82,170,94,1);font-size:36px;}
#row-4{display:flex;flex-flow:row nowrap;align-items:center;}
#image-15:hover{}
#row-23{display:flex;flex-flow:row nowrap;align-items:center;}
#row-4:hover{}
#text-5:hover{}
#text-9:hover{}
#link-3{text-decoration:none;}
#row-17{display:flex;flex-flow:row nowrap;align-items:center;}
#text-18{color:rgba(255,255,0,1);}
#row-21:hover{}
#column-16:hover{}
#link-10:hover{color:rgba(233,233,233,1);}
#link-10{padding:15px;height:100%;color:rgba(170,170,170,1);text-decoration:none;}
#row-23:hover{}
#text-5{}
#row-19:hover{}
#link-6:hover{color:rgba(233,233,233,1);}
#text-18:hover{}
#text-26{color:rgba(250,0,0,1);}
#column-27{display:flex;flex-flow:column nowrap;align-items:center;}
#text-24:hover{}
#column-27:hover{}
#link-14:hover{color:rgba(233,233,233,1);}
#text-24{background-color:rgba(0,0,200,1);}
#column-1{display:flex;flex-flow:column nowrap;align-items:center;margin:auto;}
#text-20:hover{}
#link-12{padding:15px;height:100%;color:rgba(170,170,170,1);text-decoration:none;}
#text-26:hover{}
#text-22{}
#row-25:hover{}
#column-16{display:flex;flex-flow:column nowrap;align-items:center;width:900px;margin:auto;background-color:rgba(23,23,23,1);color:rgba(170,170,170,1);border-radius:10px;padding:30px;}