.m-auto{margin:auto;}
.space-between{justify-content:space-between;}
.h-50-px{height:50px;}
.h-100-percent{height:100%;}
.text-13px{font-size:13px;}
.font-300{font-weight:300;}
.text-r82-g170-b94-a1{color:rgba(82,170,94,1);}
.text-36px{font-size:36px;}
.p-15-px{padding:15px;}
.h-100-percent{height:100%;}
.text-r170-g170-b170-a1{color:rgba(170,170,170,1);}
.p-15-px{padding:15px;}
.h-100-percent{height:100%;}
.text-r170-g170-b170-a1{color:rgba(170,170,170,1);}
.p-15-px{padding:15px;}
.h-100-percent{height:100%;}
.text-r170-g170-b170-a1{color:rgba(170,170,170,1);}
.p-15-px{padding:15px;}
.h-100-percent{height:100%;}
.text-r170-g170-b170-a1{color:rgba(170,170,170,1);}
.p-15-px{padding:15px;}
.h-100-percent{height:100%;}
.text-r170-g170-b170-a1{color:rgba(170,170,170,1);}
.w-900-px{width:900px;}
.m-auto{margin:auto;}
.bg-r23-g23-b23-a1{background-color:rgba(23,23,23,1);}
.text-r170-g170-b170-a1{color:rgba(170,170,170,1);}
.rounded-10-px{border-radius:10px;}
.p-30-px{padding:30px;}
.text-r255-g255-b0-a1{color:rgba(255,255,0,1);}
.bg-r200-g0-b0-a1{background-color:rgba(200,0,0,1);}
.bg-r0-g0-b200-a1{background-color:rgba(0,0,200,1);}
.text-r250-g0-b0-a1{color:rgba(250,0,0,1);}