#link-8:hover{color:rgba(233,233,233,1);}
#text-9{}
#link-14{padding:15px;height:100%;color:rgba(170,170,170,1);text-decoration:none;}
#row-4{display:flex;flex-flow:row nowrap;align-items:center;}
#h1-0:hover{color:rgba(160,208,167,1);}
#column-18:hover{}
#text-17:hover{}
#link-6{padding:15px;height:100%;color:rgba(170,170,170,1);text-decoration:none;}
#row-16:hover{}
#column-19:hover{}
#row-20{display:flex;flex-flow:row nowrap;align-items:center;width:100%;}
#text-11:hover{}
#row-2:hover{}
#text-9:hover{}
#text-7{}
#link-10:hover{color:rgba(233,233,233,1);}
#link-3{text-decoration:none;}
#column-1:hover{}
#column-19{display:flex;flex-flow:column nowrap;align-items:center;width:100%;padding:30px;border-radius:15px;font-weight:300;font-size:18px;text-align:justify;}
#column-18{display:flex;flex-flow:column nowrap;align-items:center;width:700px;margin:auto;background-color:rgba(23,23,23,1);border-top-left-radius:0px;border-top-right-radius:0px;border-bottom-left-radius:15px;border-bottom-right-radius:15px;padding:15px;justify-content:start;}
#link-8{padding:15px;height:100%;color:rgba(170,170,170,1);text-decoration:none;}
#column-15:hover{}
#row-20:hover{}
#text-5{}
#text-21:hover{}
#text-17{font-size:30px;font-weight:200;text-align:center;width:100%;}
#column-22{display:flex;flex-flow:column nowrap;align-items:center;}
#h1-0{font-weight:300;color:rgba(82,170,94,1);font-size:36px;}
#link-12{padding:15px;height:100%;color:rgba(170,170,170,1);text-decoration:none;}
#text-13{}
#text-7:hover{}
#row-2{display:flex;flex-flow:row nowrap;align-items:center;justify-content:space-between;height:50px;width:95%;padding-top:30px;padding-bottom:20px;padding-right:40px;padding-left:40px;font-size:13px;}
#link-6:hover{color:rgba(233,233,233,1);}
#link-12:hover{color:rgba(233,233,233,1);}
#column-22:hover{}
#row-4:hover{}
#column-15{display:flex;flex-flow:column nowrap;align-items:center;background-image:url('assets/images/banner.jpg');width:100%;height:300px;justify-content:end;}
#text-13:hover{}
#text-5:hover{}
#link-3:hover{}
#row-16{display:flex;flex-flow:row nowrap;align-items:center;width:100%;background-color:rgba(18,18,18,0.9);padding-top:20px;padding-bottom:20px;padding-right:0px;padding-left:0px;}
#link-10{padding:15px;height:100%;color:rgba(170,170,170,1);text-decoration:none;}
#text-21{width:100%;}
#column-1{display:flex;flex-flow:column nowrap;align-items:center;margin:auto;}
#text-11{}
#link-14:hover{color:rgba(233,233,233,1);}