#column-56{display:flex;flex-flow:column nowrap;align-items:center;background-color:rgba(36,36,36,1);border-radius:10px;margin-top:0px;margin-bottom:70px;margin-right:0px;margin-left:0px;width:100%;}
#link-10:hover{color:rgba(233,233,233,1);}
#row-16{display:flex;flex-flow:row nowrap;align-items:center;width:100%;background-color:rgba(18,18,18,0.9);padding-top:20px;padding-bottom:20px;padding-right:0px;padding-left:0px;}
#text-17:hover{}
#row-59:hover{}
#row-43:hover{}
#h3-44{font-size:25px;font-weight:300;padding:0px;width:100%;height:100%;line-height:60px;text-align:center;}
#row-26{display:flex;flex-flow:row nowrap;align-items:center;width:100%;}
#row-50{display:flex;flex-flow:row nowrap;align-items:center;height:60px;width:100%;align-items:center;justify-content:center;}
#column-32{display:flex;flex-flow:column nowrap;align-items:center;width:100%;height:500px;background-image:url(https://images.ctfassets.net/gh3negosphjh/3siilaVlFVmT37LdVS61t4/a7e8c11ca904ca3a1fb63fcf8aa023ad/Screenshot_from_2022-06-06_08-30-58.png);background-size:cover;align-items:center;justify-content:end;border-radius:10px;}
#row-31{display:flex;flex-flow:row nowrap;align-items:center;width:100%;}
#row-20{display:flex;flex-flow:row nowrap;align-items:center;width:100%;}
#row-52:hover{}
#h3-72:hover{}
#row-54{display:flex;flex-flow:row nowrap;align-items:center;width:100%;text-align:center;background-color:rgba(18,18,18,0.9);border-top-left-radius:0px;border-top-right-radius:0px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;padding:10px;}
#column-0:hover{}
#h3-30:hover{}
#link-10{padding:15px;height:100%;color:rgba(170,170,170,1);text-decoration:none;}
#h3-44:hover{}
#text-62:hover{}
#link-6:hover{color:rgba(233,233,233,1);}
#row-66:hover{}
#link-12{padding:15px;height:100%;color:rgba(170,170,170,1);text-decoration:none;}
#row-33:hover{}
#h3-51:hover{}
#column-46{display:flex;flex-flow:column nowrap;align-items:center;width:100%;height:500px;background-image:url(https://images.ctfassets.net/gh3negosphjh/3P8R4A0ciDsCcGrpm2JGRm/b5ec8496ca6062cdb84cdc27fe79f1c1/expanding-awareness.png);background-size:cover;align-items:center;justify-content:end;border-radius:10px;}
#column-28:hover{}
#text-55{width:100%;font-size:16px;font-weight:300;}
#row-47:hover{}
#h2-25:hover{}
#text-48:hover{}
#row-26:hover{}
#column-56:hover{}
#text-21{width:100%;}
#row-31:hover{}
#text-62{width:100%;font-size:16px;font-weight:300;}
#text-13:hover{}
#link-14{padding:15px;height:100%;color:rgba(170,170,170,1);text-decoration:none;}
#text-7:hover{}
#text-11{}
#h1-2:hover{color:rgba(160,208,167,1);}
#column-42:hover{}
#column-15{display:flex;flex-flow:column nowrap;align-items:center;background-image:url('assets/images/banner.jpg');width:100%;height:300px;justify-content:end;}
#row-1{display:flex;flex-flow:row nowrap;align-items:center;justify-content:space-between;width:100%;padding-top:5px;padding-bottom:5px;padding-right:20px;padding-left:20px;height:100%;font-size:13px;}
#row-29:hover{}
#column-39:hover{}
#link-12:hover{color:rgba(233,233,233,1);}
#column-49{display:flex;flex-flow:column nowrap;align-items:center;background-color:rgba(36,36,36,1);border-radius:10px;margin-top:0px;margin-bottom:70px;margin-right:0px;margin-left:0px;width:100%;}
#column-49:hover{}
#text-13{}
#link-6{padding:15px;height:100%;color:rgba(170,170,170,1);text-decoration:none;}
#row-57{display:flex;flex-flow:row nowrap;align-items:center;height:60px;width:100%;align-items:center;justify-content:center;}
#row-64:hover{}
#row-71{display:flex;flex-flow:row nowrap;align-items:center;height:60px;width:100%;align-items:center;justify-content:center;}
#row-64{display:flex;flex-flow:row nowrap;align-items:center;height:60px;width:100%;align-items:center;justify-content:center;}
#row-68{display:flex;flex-flow:row nowrap;align-items:center;width:100%;text-align:center;background-color:rgba(18,18,18,0.9);border-top-left-radius:0px;border-top-right-radius:0px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;padding:10px;}
#column-18:hover{}
#column-46:hover{}
#column-19{display:flex;flex-flow:column nowrap;align-items:center;width:100%;padding:20px;font-weight:300;font-size:18px;text-align:justify;}
#h3-65:hover{}
#text-78:hover{}
#h1-2{font-weight:300;color:rgba(82,170,94,1);font-size:36px;}
#column-63:hover{}
#row-38{display:flex;flex-flow:row nowrap;align-items:center;width:100%;}
#row-68:hover{}
#row-45{display:flex;flex-flow:row nowrap;align-items:center;width:100%;}
#text-34:hover{}
#text-41:hover{}
#row-71:hover{}
#row-73{display:flex;flex-flow:row nowrap;align-items:center;width:100%;}
#row-50:hover{}
#column-60:hover{}
#row-4:hover{}
#row-73:hover{}
#row-24:hover{}
#row-33{display:flex;flex-flow:row nowrap;align-items:center;width:100%;text-align:center;background-color:rgba(18,18,18,0.9);border-top-left-radius:0px;border-top-right-radius:0px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;padding:10px;}
#row-61{display:flex;flex-flow:row nowrap;align-items:center;width:100%;text-align:center;background-color:rgba(18,18,18,0.9);border-top-left-radius:0px;border-top-right-radius:0px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;padding:10px;}
#row-1:hover{}
#row-77{display:flex;flex-flow:row nowrap;align-items:center;font-size:14px;padding:5px;}
#link-3{text-decoration:none;}
#h3-65{font-size:25px;font-weight:300;padding:0px;width:100%;height:100%;line-height:60px;text-align:center;}
#text-55:hover{}
#row-61:hover{}
#row-66{display:flex;flex-flow:row nowrap;align-items:center;width:100%;}
#link-14:hover{color:rgba(233,233,233,1);}
#column-19:hover{}
#h3-51{font-size:25px;font-weight:300;padding:0px;width:100%;height:100%;line-height:60px;text-align:center;}
#text-9:hover{}
#row-36{display:flex;flex-flow:row nowrap;align-items:center;height:60px;width:100%;align-items:center;justify-content:center;}
#row-38:hover{}
#column-35:hover{}
#text-69:hover{}
#column-23{display:flex;flex-flow:column nowrap;align-items:center;width:100%;align-items:center;justify-content:start;}
#column-60{display:flex;flex-flow:column nowrap;align-items:center;width:100%;height:500px;background-image:url(https://images.ctfassets.net/gh3negosphjh/3SmvhEUVbExtmlbcawOgNy/5d393b63d478a68c2f2e9414c342756f/learn-kanji-sounds.png);background-size:cover;align-items:center;justify-content:end;border-radius:10px;}
#column-63{display:flex;flex-flow:column nowrap;align-items:center;background-color:rgba(36,36,36,1);border-radius:10px;margin-top:0px;margin-bottom:70px;margin-right:0px;margin-left:0px;width:100%;}
#row-22{display:flex;flex-flow:row nowrap;align-items:center;width:100%;}
#text-76:hover{}
#row-24{display:flex;flex-flow:row nowrap;align-items:center;width:100%;}
#h3-37{font-size:25px;font-weight:300;padding:0px;width:100%;height:100%;line-height:60px;text-align:center;}
#row-45:hover{}
#h3-58:hover{}
#link-8{padding:15px;height:100%;color:rgba(170,170,170,1);text-decoration:none;}
#link-8:hover{color:rgba(233,233,233,1);}
#row-16:hover{}
#row-59{display:flex;flex-flow:row nowrap;align-items:center;width:100%;}
#row-75{display:flex;flex-flow:row nowrap;align-items:center;width:100%;text-align:center;background-color:rgba(18,18,18,0.9);border-top-left-radius:0px;border-top-right-radius:0px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;padding:10px;}
#column-67:hover{}
#column-0{display:flex;flex-flow:column nowrap;align-items:center;margin:auto;}
#column-70{display:flex;flex-flow:column nowrap;align-items:center;background-color:rgba(36,36,36,1);border-radius:10px;margin-top:0px;margin-bottom:70px;margin-right:0px;margin-left:0px;width:100%;}
#column-32:hover{}
#column-42{display:flex;flex-flow:column nowrap;align-items:center;background-color:rgba(36,36,36,1);border-radius:10px;margin-top:0px;margin-bottom:70px;margin-right:0px;margin-left:0px;width:100%;}
#column-67{display:flex;flex-flow:column nowrap;align-items:center;width:100%;height:500px;background-image:url(https://images.ctfassets.net/gh3negosphjh/hBVizu9jmUIAlz3Bx2AS8/cd2f49671340fd67af5504410900b268/conversation-culture.png);background-size:cover;align-items:center;justify-content:end;border-radius:10px;}
#h3-72{font-size:25px;font-weight:300;padding:0px;width:100%;height:100%;line-height:60px;text-align:center;}
#column-74{display:flex;flex-flow:column nowrap;align-items:center;width:100%;height:500px;background-image:url(https://images.ctfassets.net/gh3negosphjh/2XNbjTyqgy0K9WTGSKIkr3/d82d5dc54ec6c51d284fe054bc087bf3/sashinexists.png);background-size:cover;align-items:center;justify-content:end;border-radius:10px;}
#column-39{display:flex;flex-flow:column nowrap;align-items:center;width:100%;height:500px;background-image:url(https://images.ctfassets.net/gh3negosphjh/2hAq54mnUKTBN3vNmNbFrK/671881eae84b4e1fba1324cee5869be5/Screenshot_from_2022-10-22_05-12-20.png);background-size:cover;align-items:center;justify-content:end;border-radius:10px;}
#column-74:hover{}
#row-40:hover{}
#text-69{width:100%;font-size:16px;font-weight:300;}
#row-40{display:flex;flex-flow:row nowrap;align-items:center;width:100%;text-align:center;background-color:rgba(18,18,18,0.9);border-top-left-radius:0px;border-top-right-radius:0px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;padding:10px;}
#text-48{width:100%;font-size:16px;font-weight:300;}
#text-11:hover{}
#column-23:hover{}
#column-27:hover{}
#row-20:hover{}
#column-53:hover{}
#text-7{}
#row-43{display:flex;flex-flow:row nowrap;align-items:center;height:60px;width:100%;align-items:center;justify-content:center;}
#row-36:hover{}
#column-53{display:flex;flex-flow:column nowrap;align-items:center;width:100%;height:500px;background-image:url(https://images.ctfassets.net/gh3negosphjh/1TmCeABg4k9jdyk0ruKsO5/1a0e2cefb0e65f0dd3290440be93be03/learn-kanji-radicals.png);background-size:cover;align-items:center;justify-content:end;border-radius:10px;}
#h3-58{font-size:25px;font-weight:300;padding:0px;width:100%;height:100%;line-height:60px;text-align:center;}
#row-47{display:flex;flex-flow:row nowrap;align-items:center;width:100%;text-align:center;background-color:rgba(18,18,18,0.9);border-top-left-radius:0px;border-top-right-radius:0px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;padding:10px;}
#row-57:hover{}
#text-78{}
#row-77:hover{}
#h2-25{font-weight:200;font-size:35px;height:20px;}
#link-3:hover{}
#text-76{width:100%;font-size:16px;font-weight:300;}
#column-18{display:flex;flex-flow:column nowrap;align-items:center;width:768px;margin:auto;background-color:rgba(23,23,23,1);border-top-left-radius:0px;border-top-right-radius:0px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;padding:15px;justify-content:start;}
#text-5:hover{}
#text-34{width:100%;font-size:16px;font-weight:300;}
#column-35{display:flex;flex-flow:column nowrap;align-items:center;background-color:rgba(36,36,36,1);border-radius:10px;margin-top:0px;margin-bottom:70px;margin-right:0px;margin-left:0px;width:100%;}
#text-17{font-size:30px;font-weight:200;text-align:center;width:100%;}
#row-75:hover{}
#column-70:hover{}
#text-21:hover{}
#text-9{}
#text-5{}
#row-29{display:flex;flex-flow:row nowrap;align-items:center;height:60px;width:100%;align-items:center;justify-content:center;}
#column-28{display:flex;flex-flow:column nowrap;align-items:center;background-color:rgba(36,36,36,1);border-radius:10px;margin-top:0px;margin-bottom:70px;margin-right:0px;margin-left:0px;width:100%;}
#row-54:hover{}
#h3-30{font-size:25px;font-weight:300;padding:0px;width:100%;height:100%;line-height:60px;text-align:center;}
#h3-37:hover{}
#column-27{display:flex;flex-flow:column nowrap;align-items:center;width:100%;}
#row-22:hover{}
#column-15:hover{}
#text-41{width:100%;font-size:16px;font-weight:300;}
#row-52{display:flex;flex-flow:row nowrap;align-items:center;width:100%;}
#row-4{display:flex;flex-flow:row nowrap;align-items:center;}