#text-13:hover{}
#column-18{display:flex;flex-flow:column nowrap;align-items:center;}
#text-7:hover{}
#h2-19{}
#row-4:hover{}
#h2-19:hover{}
#link-14{padding:15px;height:100%;color:rgba(170,170,170,1);text-decoration:none;}
#link-8:hover{color:rgba(233,233,233,1);}
#text-21{}
#text-5:hover{}
#link-8{padding:15px;height:100%;color:rgba(170,170,170,1);text-decoration:none;}
#text-13{}
#column-22{display:flex;flex-flow:column nowrap;align-items:center;}
#text-11{}
#link-12:hover{color:rgba(233,233,233,1);}
#link-14:hover{color:rgba(233,233,233,1);}
#text-21:hover{}
#link-3{text-decoration:none;}
#row-17{display:flex;flex-flow:row nowrap;align-items:center;width:100%;padding:30px;border-radius:15px;font-weight:300;}
#column-1:hover{}
#link-6{padding:15px;height:100%;color:rgba(170,170,170,1);text-decoration:none;}
#link-6:hover{color:rgba(233,233,233,1);}
#text-5{}
#image-20{width:100px;}
#row-2:hover{}
#link-12{padding:15px;height:100%;color:rgba(170,170,170,1);text-decoration:none;}
#row-2{display:flex;flex-flow:row nowrap;align-items:center;justify-content:space-between;height:50px;width:95%;padding-top:30px;padding-bottom:20px;padding-right:40px;padding-left:40px;font-size:13px;}
#column-18:hover{}
#column-16:hover{}
#row-17:hover{}
#image-20:hover{}
#column-22:hover{}
#link-10{padding:15px;height:100%;color:rgba(170,170,170,1);text-decoration:none;}
#text-9{}
#link-10:hover{color:rgba(233,233,233,1);}
#h1-0:hover{color:rgba(160,208,167,1);}
#link-3:hover{}
#h1-0{font-weight:300;color:rgba(82,170,94,1);font-size:36px;}
#row-4{display:flex;flex-flow:row nowrap;align-items:center;}
#text-9:hover{}
#column-1{display:flex;flex-flow:column nowrap;align-items:center;margin:auto;}
#text-11:hover{}
#text-7{}
#image-15:hover{}
#image-15{width:100%;}
#column-16{display:flex;flex-flow:column nowrap;align-items:center;width:900px;margin:auto;background-color:rgba(23,23,23,1);border-top-left-radius:0px;border-top-right-radius:0px;border-bottom-left-radius:15px;border-bottom-right-radius:15px;padding:30px;}